<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Leasing.net</title>

    <environment include="Development">
        
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        
        
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
       <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-rtl.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<style>
.btn {

  background-color:#ededed;
  color: black;
  cursor: pointer;
}
.info {
  border-color: #484F61;
  color: black;
}
.info:hover {
  background: #2196F3;
  color: white;
}
</style>
<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" style="height:65px; background-color:#484F61;">
       
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/lib/logo.jpg"height="50" width="50" style="margin-top:-7px;border-radius:5px;"></a>
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Index" >الرئيسية</a></li>

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
                    {
                        <li><a asp-area="" asp-controller="Lessees" asp-action="Index">مستاجر</a></li>
                        <li><a asp-area="" asp-controller="Managers" asp-action="Index">مدير</a></li>
                        <li><a asp-area="" asp-controller="Owners" asp-action="Index">مالك</a></li>
                        <li><a asp-area="" asp-controller="Properties" asp-action="Index">العقارات</a></li>
                        <li><a asp-area="" asp-controller="PropertyTypes" asp-action="Index">نوع العقار</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav">
                    @if (!User.IsInRole("Manager"))
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="SalePage"><button type="button" class="btn info" style="">بيع</button></a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="RentPage"><button type="button" class="btn info" style=" margin-right:-25px;">استئجار</button></a></li>                 
                    }
                </ul>
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Owner"))
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="SearchProperties">عقاراتي</a></li>
                    }
                    @if(!User.IsInRole("Manager"))
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="About" >من نحن</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="contact" >اتصل بنا</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUser">@User.Identity.Name</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">تسجيل الخروج</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Login"><button type="button" class="btn info" style="background-color:#2196F3; border:none; color:#fff;">تسجيل الدخول</button></a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
       
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
   
</body>
</html>
