@model MyLeasing.Web.Models.EditUserViewModel
 
<style>
 .box input {
            padding: 5px 0;
            margin-bottom: 30px;
            width: 230px;
            box-sizing: border-box;
            box-shadow: none;
            outline: none;
            border: none;
            border-bottom: 1px solid #f2f2f2;
            font-weight: normal;
            color:#000029;
        }

input:-webkit-autofill {
border: $border-style !important;
-webkit-text-fill-color: $c-white !important;
background-color: $c-blue !important;
-webkit-box-shadow: 0 0 0px 10px $c-blue inset;
transition: background-color 5000s ease-in-out 0s;
}
*{
 -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */	
}
</style>
<div class="box">
    <label asp-for="Document" style="color:#000029; font-weight: normal;" class="control-label"></label>
    <br>
    <input asp-for="Document">
    <span asp-validation-for="Document" style="margin-right:-230px; padding-top:40px; position:absolute;" class="text-danger"></span>

</div>


<div class="box" style="margin-top:-85px; margin-right:290px; width:300px;">
    <label asp-for="FirstName" style="color:#000029; font-weight: normal;" class="control-label"></label>
    <br>
    <input asp-for="FirstName" >
    <span asp-validation-for="FirstName" class="text-danger" style="margin-top:40px; margin-right:-230px; position:absolute; width:210px;"></span>
</div>



<div class="box" style="margin-top:-85px; margin-right:580px; width:300px;">
    <label asp-for="LastName" style="color:#000029; font-weight: normal;" class="control-label"></label>
    <br>
    <input asp-for="LastName">
    <span asp-validation-for="LastName" class="text-danger" style="margin-top:40px; margin-right:-230px; position:absolute; width:210px;"></span>
</div>

<div class="box" style="margin-top:15px;">
    <label asp-for="Address" style="color:#000029; font-weight: normal;" class="control-label"></label>
    <br>
    <input asp-for="Address">
    <span asp-validation-for="Address" class="text-danger" style="margin-top:40px; margin-right:-230px; position:absolute; width:210px;"></span>
</div>


<div class="box" style="margin-top:-85px; margin-right:290px; width:300px;">
    <label asp-for="PhoneNumber" style="color:#000029; font-weight: normal;" class="control-label"></label>
    <br>
    <input asp-for="PhoneNumber">
    <span asp-validation-for="PhoneNumber" class="text-danger" style="margin-top:40px; margin-right:-230px; position:absolute; width:210px;"></span>
</div>
