@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">خطأ.</h1>
<h2 class="text-risk"> حدث خطأ أثناء معالجة طلبك. </h2>
@if (Model.ShowRequestId)
{
    <p>
        <strong> معرف الطلب: </strong> <code> @Model.RequestId </code>
    </p>
}

<h3>وضع التطوير </h3>
<P>
    سيؤدي التبديل إلى بيئة <strong>التطوير </strong> إلى عرض معلومات أكثر تفصيلًا حول الخطأ الذي حدث.
</P>
<P><strong> لا ينبغي تمكين بيئة التطوير في التطبيقات المنشورة </strong> ، حيث يمكن أن ينتج عنها معلومات حساسة من الاستثناءات التي يتم عرضها على المستخدمين النهائيين. للتصحيح المحلي ، يمكن تمكين بيئة التطوير عن طريق تعيين متغير البيئة <strong> ASPNETCORE_ENVIRONMENT </strong> إلى <strong>التطوير </strong> ، وإعادة تشغيل التطبيق.</P>
