@model MyLeasing.Web.Models.AddUserViewModel

@{
    ViewData["Title"] = "انشاء مالك جديد";
}
<script>
    $("#img-captcha").click(function () {
        resetCaptchaImage();
    });

    function resetCaptchaImage() {
        d = new Date();
        $("#img-captcha").attr("src", "/get-captcha-image?" + d.getTime());
    }
</script>
<style>


    body {
        background-color: #F5F5F5;
    }

        input {
            padding: 10px 0;
            margin-bottom: 30px;
            width:30%;
            box-sizing: border-box;
            box-shadow: none;
            outline: none;
            border: none;
            border-bottom: 2px solid #ededed;
             color:#000029;
        }

select{
width:30%;
box-sizing: border-box;
box-shadow: none;
outline: none;
border: none;
border-bottom: 2px solid #d8d9d8;
color:#000029;
padding:12px 0;
}

        form div {
            position: relative;
        }

            form div label {
                position: absolute;
                top: 5px;
                right: 0px;
                pointer-events: none;
                transition: .5s ;
                  font-weight: blod;
                color:#000029;
            }

        input:focus ~ label,
        input:valid ~ label {
            top: -12px;
            right: 0;
             transition: .5s;
            font-size: 13px;
        }

        input:focus,
        input:valid {
        transition: .5s;
            
        } 
</style>


<div style="width:90%; margin-right:5%; margin-left:5%; height:auto; margin-top:5%;">

<div class="thumbnail" style="background-color:#fff; overflow:hidden; width:100%; padding:35px;">

<form asp-action="Create">

            <div>
                <input type="text" asp-for="Username" required="" autocomplete="off">
                <label asp-for="Username"></label>
                <span style="margin-top:52px; right:0; position:absolute;" asp-validation-for="Username" class="text-danger"></span>
            </div>


           <div style="margin-top:-70px ; right:35%;">
                <input type="text" asp-for="Document" required="" autocomplete="off">
                <label asp-for="Document"></label>
                <span style="margin-top:52px; right:0; position:absolute;" asp-validation-for="Document" class="text-danger"></span>
            </div>

            <div style="margin-top:-70px ; right:70%;">
                <input asp-for="FirstName" required="" autocomplete="off">
                <label asp-for="FirstName" ></label>
                <span style="margin-top:52px; right:0; position:absolute;" asp-validation-for="FirstName" class="text-danger"></span>
            </div>


            <div style="margin-top:15px;">
                <input type="text" asp-for="LastName" required="" autocomplete="off">
                <label asp-for="LastName" ></label>
                <span style="margin-top:52px; right:0; position:absolute;" asp-validation-for="LastName" class="text-danger"></span>
            </div>


           <div style="margin-top:-70px; right:35%;">
                <input asp-for="Address" required="" autocomplete="off">
                <label asp-for="Address" ></label>
                <span style="margin-top:52px; right:0; position:absolute;" asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div style="margin-top:-70px; right:70%;">
                <input asp-for="PhoneNumber" required="" autocomplete="off">
                <label asp-for="PhoneNumber"></label>
                <span style="margin-top:52px; right:0; position:absolute;" asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

    
            <div style="margin-top:15px;">
                <input asp-for="Password" required="" autocomplete="off">
                <label asp-for="Password"></label>
                <span style="margin-top:52px; right:0; position:absolute;" asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div style="margin-top:-70px ; right:35%;">
                <input asp-for="PasswordConfirm" required="" autocomplete="off">
                <label asp-for="PasswordConfirm"></label>
                <span style="margin-top:52px; right:0; position:absolute;" asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>

            <div class="input-group" style="margin-top:40px;">
                <label asp-for="CaptchaCode" class="control-label" style="margin-top:-35px;"></label>
                <div class="input-group-prepend">
                <img id="img-captcha" src="~/get-captcha-image" style="width:100%;" />
                </div>
                <br />
                <input style="padding:0px; width:100%;" type="text" autocomplete="off" placeholder="كود التحقق" asp-for="CaptchaCode" maxlength="6"  />
                <span asp-validation-for="CaptchaCode" class="text-danger" style="margin-top:30px; right:0; position:absolute;"></span>
            </div>

            <div class="input-group" style="margin-top:5px;">
                <input type="submit" value="تسجيل" class="btn btn-info" style="width:60px; text-align:center; border:none; background-color:#31B0D5; color: #fff;">
            <div asp-validation-summary="ModelOnly" style="padding-right: 250px; margin-top: -30px;" class="text-danger">
            </div>
                <span class="text-success" style="margin-right:150px;">
                    @ViewBag.Message
                </span>
                <span class="text-danger" style="margin-right:100px;">
                    @ViewBag.danger
                </span>
            </div>
        </form>
   
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
