@model MyLeasing.Web.Models.EditUserViewModel
@{
    ViewData["Title"] = "تعديل بيانات الشخصية";
}

<style>

    body {
        background-color: #F5F5F5;
    }

</style>


<div style="margin-top:50px;">
    <button type="button" class="btn btn-light" style="border:none; outline: none; font-weight: bold;">البيانات الشخصية / تعديل</button>
</div>

<div class="row thumbnail" style="margin-top:20px;
        background-color: #fff;padding: 50px;border-radius: 5px;">
    <div class="col-md-4">
        <form asp-action="ChangeUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <partial name="_User" />

            <div class="form-group" style="margin-top:15px; margin-bottom:-10px;">
                <input type="submit" value="حفظ" class="btn btn-info" style="border:none; outline: none;" />
                <button class="btn" style=" margin-right:5px; border: none; outline: none;"><a asp-action="ChangePassword" style="color:#000; text-decoration:none;">تغيير كلمة السر</a></button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
