@{
    ViewData["Title"] = "تاكيد البريد الالكتروني";
}


<style>

body{
    background-color: #fff;;
}
 .box
    {
   height:437px;
    width: 400px;
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    background-color: #fff;
    padding:30px;
 
    }
</style>

<div class="box">
<center>

<img src="~/images/Home/confirm.gif"  style="height:250px;width:270px;" />




<div>
    <p>
        شكرا لتأكيد بريدك الالكتروني الآن يمكنك تسجيل الدخول إلى النظام
    </p>
</div>
</center>
</div>



