@model MyLeasing.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "تسجيل الدخول";
}

<style>

    body, html {
        height: 100%;
    }
  .box
    {
   height:437px;
    width: 400px;
    position: absolute;
    top: 57%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    background-color: #fff;
    padding:30px;
     border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
        .box input {
            padding: 10px 0;
            margin-bottom: 30px;
            width: 100%;
            box-sizing: border-box;
            box-shadow: none;
            outline: none;
            border: none;
            border-bottom: 1px solid #f2f2f2;
        }

        .box form div {
            position: relative;
        }

            .box form div label {
                position: absolute;
                top: 5px;
                right: 0px;
                pointer-events: none;
                transition: .5s;
                font-weight: normal;
                color:#000029;
            }

        .box input:focus ~ label,
        .box input:valid ~ label {
            top: -12px;
            right: 0;
            transition: .5s;
            font-size: 13px;
            
        }

        .box input:focus,
        .box input:valid {
        border-bottom:1px solid #97D7EA;
        transition: .5s;
        
         
        }

    .bg-img {
        background-image: url('../images/Home/bg.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
} 
input:-webkit-autofill {
border: $border-style !important;
-webkit-text-fill-color: $c-white !important;
background-color: $c-blue !important;
-webkit-box-shadow: 0 0 0px 10px $c-blue inset;
transition: background-color 5000s ease-in-out 0s;
}

*{
 -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */	
}

</style>


<body class="bg-img">


<div class="box">

<center> 
<div style="height:90px; width: 80px;  border-radius:50%; box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2); margin-top:-70px;">
<img src="~/images/Home/user.png" height="90" width="80">
</div></center>


<form method="post">

            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            
            <div style="margin-top:25px ;margin-bottom:5px;">
                <input type="text" asp-for="Username" required="">
                <label>البريد الالكتروني</label>
                <span style="margin-top:50px; right:0; position:absolute; " asp-validation-for="Username" class="text-danger"></span>

            </div>
            <div style="margin-top:10px ;margin-bottom:20px;">
                <input type="password" asp-for="Password" required="">
                <label>كلمة السر</label>
                <span style="margin-top:50px; right:0; position:absolute; " asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div>
                <div> 
                    <input asp-for="RememberMe" type="checkbox" style=" margin-right:-49%; margin-top:25px ;" />
                    <label  style="color:#000029;" class="form-check-label">تذكرني ؟ </label>
                </div>
                <span asp-validation-for="RememberMe" class="text-warning"></span>
            </div>

            <div asp-validation-summary="ModelOnly" style="margin-right:-25px; margin-top:-17px; margin-bottom:17px;" class="text-danger">
            
            </div>

            <div>
                <input type="submit" value="تسجيل الدخول" class="btn btn-info" style="width:80px; background-color:#31B0D5; border:none; color:#fff;" />
                <a asp-action="Register" class="btn btn-default" style="width:120px; margin-top:-30px ; border: none; padding:11px; margin-right:10px; background-color:#E6E6E6;">تسجيل حساب جديد</a>

            </div>

            <a asp-action="RecoverPassword">هل نسيت كلمة السر ؟ </a>
        </form>

</div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
