@model MyLeasing.Web.Models.AddUserViewModel

@{
    ViewData["Title"] = "Create";
}
<script>
    $("#img-captcha").click(function () {
        resetCaptchaImage();
    });

    function resetCaptchaImage() {
        d = new Date();
        $("#img-captcha").attr("src", "/get-captcha-image?" + d.getTime());
    }
</script>


<style>

    body {
        background-color: #F5F5F5;
    }

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 800px;
        padding: 50px;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 30px;
    }

        .box input {
            padding: 10px 0;
            margin-bottom: 30px;
            width: 200px;
            box-sizing: border-box;
            box-shadow: none;
            outline: none;
            border: none;
            border-bottom: 1px solid #f2f2f2;
        }

        .box form div {
            position: relative;
        }

            .box form div label {
                position: absolute;
                top: 10px;
                right: 0px;
                pointer-events: none;
                transition: .5s;
            }

        .box input:focus ~ label,
        .box input:valid ~ label {
            top: -12px;
            right: 0;
        }

        .box input:focus,
        .box input:valid {
            border-bottom: 2px solid #f2f2f2;
        }
</style>
<div class="box thumbnail">
    <div style="margin-top:-30px;">
        <form asp-action="Create">
            <input type="hidden" asp-for="RoleId" />
            <div>
                <input asp-for="Username" required="">
                <label asp-for="Username" style="color:#929384;"></label>
                <span style="margin-top:50px; right:0; position:absolute; " asp-validation-for="Username" class="text-danger"></span>

            </div>

            <div style="margin-top:-70px ; margin-right: 250px;">
                <input asp-for="Document" required="">
                <label asp-for="Document" style="color:#929384;"></label>
                <span style="margin-top:50px; right:0; position:absolute;" asp-validation-for="Document" class="text-danger"></span>
            </div>

            <div style="margin-top:-70px ; margin-right: 500px;">
                <input asp-for="FirstName" required="">
                <label asp-for="FirstName" style="color:#929384;"></label>
                <span style="margin-top:-23px; right:0; position:absolute;" asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div style="margin-top: 20px;">
                <input asp-for="LastName" required="">
                <label asp-for="LastName" style="color:#929384;"></label>
                <span style="margin-top:50px; right:0; position:absolute;" asp-validation-for="LastName" class="text-danger"></span>

            </div>

            <div style="margin-top:-70px ; margin-right: 250px;">
                <input asp-for="Address" required="">
                <label asp-for="Address" style="color:#929384;"></label>
                <span style="margin-top:50px; right:0; position:absolute;" asp-validation-for="Address" class="text-danger"></span>

            </div>

            <div style="margin-top:-70px ; margin-right: 500px;">
                <input asp-for="PhoneNumber" required="">
                <label asp-for="PhoneNumber" style="color:#929384;"></label>
                <span style="margin-top:-25px; right:0; position:absolute;" asp-validation-for="PhoneNumber" class="text-danger"></span>

            </div>      

            <div style="margin-top:35px;">
                <input asp-for="Password" required="">
                <label asp-for="Password"></label>
                <span style="margin-top:50px; right:0; position:absolute;" asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div style="margin-top:-70px ; margin-right: 250px;">
                <input asp-for="PasswordConfirm" required="">
                <label asp-for="PasswordConfirm"></label>
                <span style="margin-top:50px; right:0; position:absolute;" asp-validation-for="PasswordConfirm" class="text-danger"></span>

            </div>

            <div class="input-group" style="margin-top: 30px;">
                <label asp-for="CaptchaCode" class="control-label" style="margin-top: -35px;"></label>
                <div class="input-group-prepend">
                    <img id="img-captcha" src="~/get-captcha-image" style="width:250px;" />
                </div>
                <br />
                <input style=" padding: 0px;" type="text"  placeholder="كود التحقق" asp-for="CaptchaCode" maxlength="6" />
                <span asp-validation-for="CaptchaCode" class="text-danger"></span>
            </div>

            <div class="input-group" style="margin-bottom:-50px;">
                <input type="submit" value="تسجيل" class="btn btn-info" style="width: 60px; text-align:center ; margin-bottom: 10px; border:none; background-color:#31B0D5; color: #fff;">
                <div asp-validation-summary="ModelOnly" style="padding-right: 250px; margin-top: -30px;" class="text-danger">
                </div>
                <span class="text-success" style="margin-right:150px;">
                    @ViewBag.Message
                </span>
                <span class="text-danger" style="margin-right:100px;">
                    @ViewBag.danger
                </span>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}