@{
    ViewData["Title"] = "حول الموقع";
}

<div>
    <div class="jumbotron" style="background-color:white;">
        <h1 dir="RTL" style="text-align:center"><span style="font-size:25px"><strong><span style="font-family:Arial,Helvetica,sans-serif"><span style="color:black">الوسيط العقاري الالكتروني </span></span></strong></span></h1>
        <hr />
        <p dir="RTL" style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black">هو موقع تفاعلي على الانترنت يقدم خدمات متخصصة و مفيدة لجميع فئات المجتمع بشكل عام، و للقطاع العقاري بشكل خاص في محافظة جنين، حيث يحظى الفرد كونه جزءاً من هذا المجتمع بفرص أكبر و أوسع لايجاد العقار الذي يبحث عنه بسهولة و يسر، و في نفس الوقت إخبار الآخرين بما لديه من فرص أو طلبات عقارية. ويهدف الى خدمة الباحث ليختصر عليه الوقت و الجهد و التكلفة فيصل الى عقاره بسرعة، و في نفس الوقت خدمة البائعين لتسويق عقاراتهم عن طريق استخدام أحدث تقنيات التسويق و الاعلان الالكتروني التي يوفرها الوسيط العقاري بطريقة مباشرة و مبسطة</span></span><span dir="LTR"><span style="font-family:&quot;"><span style="color:black">.</span></span></span></span></span></p>

        <p dir="RTL" style="text-align:justify"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black">-- كيف تشتري :</span></span></span></strong></span></p>

        <p dir="RTL" style="text-align:justify"><strong><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black">* السعر :</span></span></span></span></strong></p>

        <p dir="RTL" style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black"> تقوم بتحديد ميزانية العقار الذي تريد شرائه.</span></span></span></span></p>

        <p dir="RTL" style="text-align:justify"><strong><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black">* المنطقة : </span></span></span></span></strong></p>

        <p dir="RTL" style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black">نحدد لك افضل الاماكن للعقار المطلوب ضمن قدراتك الشرائية .</span></span></span></span></p>

        <p dir="RTL" style="text-align:justify"><strong><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black">* المساحة:</span></span></span></span></strong></p>

        <p dir="RTL" style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black">تقوم بتحديد مساحة الارض او العقار الذي تريد شرائه.</span></span></span></span></p>

        <p dir="RTL" style="text-align:justify"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black">-- كيف تبيع :</span></span></span></strong></span></p>

        <p dir="RTL" style="text-align:justify"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black">* اعلان العقار :</span></span></span></strong></span></p>

        <p dir="RTL" style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black"> اضافة عقار .. مع امكانية اضافة صور العقار الذي تريد بيعه .. تحدد سعره و تفاصيل عن العقار او الارض وتحديد موقع العقار على الخريطة.</span></span></span></span></p>

        <p dir="RTL" style="text-align:justify"><span style="font-size:18px"><strong><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black">* الاعلان :</span></span></span></strong></span></p>

        <p dir="RTL" style="text-align:justify"><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;"><span style="color:black">نقوم بحملة ترويجية لهذا العقار باكثر من وسيلة اعلانية تتناسب مع طبيعة العقار و نوعية المشتري .</span></span></span></span></p>

    </div>
</div>