@model MyLeasing.Web.Models.PropertyViewModel

@{
    ViewData["Title"] = "Edit";
}
<style>

    #map {
        height: 300px;
        width: 600px;
    }
</style>
<h2>Edit</h2>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProperty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OwnerId" />
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="PropertyTypeId" class="control-label"></label>
                <select asp-for="PropertyTypeId" asp-items="Model.PropertyTypes" class="form-control"></select>
                <span asp-validation-for="PropertyTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Neighborhood" class="control-label"></label>
                <input asp-for="Neighborhood" class="form-control" />
                <span asp-validation-for="Neighborhood" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SquareMeters" class="control-label"></label>
                <input asp-for="SquareMeters" class="form-control" />
                <span asp-validation-for="SquareMeters" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rooms" class="control-label"></label>
                <input asp-for="Rooms" class="form-control" />
                <span asp-validation-for="Rooms" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Stratum" class="control-label"></label>
                <input asp-for="Stratum" class="form-control" />
                <span asp-validation-for="Stratum" class="text-danger"></span>
            </div>
            <div style="padding:10px">
                <div id="map"></div>
            </div>
            <div  id="latclicked"></div>
            <div  id="longclicked"></div>
 
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" id="latclicked" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" id="longclicked" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Typeprop" class="control-label"></label>
                <div>
                    @Html.DropDownList("Typeprop", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="HasParkingLot" /> @Html.DisplayNameFor(model => model.HasParkingLot)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <textarea asp-for="Remarks" class="form-control"></textarea>
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="MyProperties" class="btn btn-success">Back to My Properties</a>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var map;

    function initMap() {
        var latitude = 27.7172453; // YOUR LATITUDE VALUE
        var longitude = 85.3239605; // YOUR LONGITUDE VALUE

        var myLatLng = { lat: latitude, lng: longitude };

        map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            zoom: 14,
        });

        // Update lat/long value of div when anywhere in the map is clicked
        google.maps.event.addListener(map, 'click', function (event) {
            document.getElementById('latclicked').innerHTML = event.latLng.lat();
            document.getElementById('longclicked').innerHTML = event.latLng.lng();
        });
       
        google.maps.event.addListener(map, 'click', function (event) {
            var marker = new google.maps.Marker({
                position: event.latLng,
                map: map,
                title: event.latLng.lat() + ', ' + event.latLng.lng()             
            });
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDzxxQKGH86uDAJ-cKS3ZbrYm360vOqLI&callback=initMap"
        async defer></script>