@model IEnumerable<MyLeasing.Web.Data.Entities.PropertyType>

@{
    ViewData["Title"] = "الرئيسية";
}

<style>

    body {
        background-color: #f5f5f5;
    }

    #MyTable_length {
        direction: ltr;
        margin-left: -101%;
        margin-bottom: 3%;
    }

    #MyTable_filter {
        position: absolute;
        margin-right: -98%;
        margin-bottom: 3%;
    }

    #MyTable_paginate {
        margin-top: 40px;
        margin-right: -75%;
    }
</style>
<p>
    <a asp-action="Create" class="btn btn-info" style="outline:none; border:none; margin-top:50px; margin-bottom:5px;"> انشاء جديد</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">نوع العقار</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-responsive table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>تعديل</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" class="btn btn-default" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i> </a>
                                </td>

                                <td>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/bootstrap/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/PropertyTypes/Delete/' + item_to_delete;
            });
        });

        $('#MyTable').DataTable({
            "language": {
                "url": "../lib/Arabic.json"
            }
        });
    </script>
}

